<div ng-repeat="question in questions">
  <div class="row m-n">
    <div class="col-xs-12 text-center m-t-md">
      <span class="h3 font-thin">{{question.title}}</span>
    </div>
  </div>
  <div class="row wrapper-lg b-b m-n">
    <div class="col-xs-2-4 no-padder m-b-md" ng-repeat="score in scores" ng-if="question.question_type === 'quality'">
      <div class="text-center">
        <a class="circle" ng-class="(score.number <= feedback.answers[$parent.$parent.$index].value) ? score.style : ''" ng-click="feedback.answers[$parent.$parent.$index].value = score.number">
          <span class="inline font-normal">{{score.number}}</span>
          <span class="inline small m-l-n-xs">%</span>
        </a>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="row">
        <div class="col-xs-6 text-left padder-sm m-b-md" ng-repeat="item in question.question_items" ng-if="question.question_type === 'select'">
          <label class="i-checks i-checks-lg">
            <input type="radio" ng-model="feedback.answers[$parent.$parent.$index].value" ng-value="item.id">
            <i></i>
            {{item.title}}
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="row">
        <div class="col-xs-6 text-left no-padder m-b-md" ng-repeat="item in question.question_items" ng-if="question.question_type === 'checkbox'">
          <label class="i-checks i-checks-lg">
            <input type="checkbox" ng-model="feedback.answers[$parent.$parent.$index].items[item.id]">
            <i></i>
            {{item.title}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row b-b m-n">
  <div class="col-xs-12 col-sm-6 col-md-3 wrapper-lg">
    <a ng-click="">
      <div class="round-button" ng-click="vars.current_step = 1" translate>BACK</div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-6 wrapper-lg">
    <a ng-click="">
      <div class="round-button" ng-click="vars.current_step = 3" translate>NEXT</div>
    </a>
  </div>
</div>