<section class="main" ng-controller="SurveyCtrl">
  <div class="hbox hbox-auto-xs">
    <div class="col">
      <div class="wrapper-md">
        <div ng-repeat="question in questions">
          <div class="row m-n">
            <div class="col-xs-12 text-center m-t-md">
              <span class="h3 font-normal">{{question.title}}</span>
            </div>
          </div>
          <div class="row wrapper-lg b-b m-n">
            <div class="col-xs-2-4 no-padder m-b-md" ng-repeat="score in scores">
              <div class="text-center">
                <a class="circle" ng-class="(score.number <= question.score) ? score.style : ''" ng-click="question.score = score.number">
                  <span class="inline font-normal">{{score.number}}</span>
                  <span class="inline small m-l-n-xs">%</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row b-b m-n">
          <div class="col-xs-12 col-sm-6 wrapper-lg">
            <a ng-click="">
              <div class="round-button">BACK</div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 wrapper-lg">
            <a ng-click="">
              <div class="round-button">NEXT</div>
            </a>
          </div>
        </div>
        <div class="row m-n">
          <div class="col-xs-4 wrapper-lg">
            <a ng-click="">
              <div class="round-button-small">Unsubscribe</div>
            </a>
          </div>
          <div class="col-xs-4 col-xs-offset-4 text-right  wrapper-lg">
            <a ng-click="">
              Privacy
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>